.clearfix:after {
    content: "";
    display: block;
    clear: both
}

.clearfix {
    zoom: 1;
    clear: both
}

p {
    text-align: justify;
}

a {
    color: #2388da;
    font-size: 12px;
    text-align: justify;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tl {
    text-align: left;
}

.display-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -o-box;
    display: box
}

.box-Y {
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -o-box-orient: vertical;
    box-orient: vertical
}

.box-flex-1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -o-box-flex: 1;
    box-flex: 1
}

.box-flex-2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    -o-box-flex: 2;
    box-flex: 2
}

.box-flex-3 {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -ms-flex: 3;
    -o-box-flex: 3;
    box-flex: 3
}

.box-flex-4 {
    -webkit-box-flex: 4;
    -moz-box-flex: 4;
    -ms-flex: 4;
    -o-box-flex: 4;
    box-flex: 4
}

.box-flex-6 {
    -webkit-box-flex: 6;
    -moz-box-flex: 6;
    -ms-flex: 6;
    -o-box-flex: 6;
    box-flex: 6
}

.box-center {
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-pack: center;
    -o-box-align: center;
    box-align: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -o-box-pack: center;
    box-pack: center
}

.box-center-Y {
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -o-box-align: center;
    box-align: center
}

.box-center-X {
    -moz-box-pack: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -o-box-pack: center;
    box-pack: center
}

.box-pack-justify {
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -o-box-pack: justify;
    box-pack: justify
}