.clearfix:after {
    content: "";
    display: block;
    clear: both
}

.clearfix {
    zoom: 1;
    clear: both
}
p{
    text-align: justify;
}
a{
    color:#2388da;
    font-size:12px;
    text-align: justify;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.tl{
    text-align: left;
}
